:root {
  --bg-color: rgb(31 32 40);
  --bg-color-dim: rgb(53 56 73);
  --text-color: #b0b2c3;

  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.fui-reference {
  padding: 8px 12px;
  border: 2px dashed black;
}

.fui-floating {
  padding: 8px 12px;
  background-color: #6b7280;
  border-radius: 4px;
}

.fui-arrow {
  position: absolute;
  background-color: #6b7280;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}
